<a href="https://colab.research.google.com/github/klu80082/2420080082-ML/blob/main/2420080082week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount Google Drive (run only in Colab)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [4]:
student_data = pd.read_csv("student_data (2).csv")

print("Student Dataset Preview:")
display(student_data.head())

print("\nMissing values:")
print(student_data.isnull().sum())

Student Dataset Preview:

   RollNo  Math  Science  English  Gender Department
0       1    55       58       60    Male        CSE
1       2    60       63       64  Female        ECE
2       3    65       68       69    Male        EEE
3       4    70       73       74  Female        CSE
4       5    75       78       80    Male        ECE

Missing values:
RollNo        0
Math          0
Science       0
English       0
Gender        0
Department    0
dtype: int64

In [5]:
num_cols = student_data.select_dtypes(include=['int64','float64']).columns
cat_cols = student_data.select_dtypes(include=['object']).columns

# Fill numerical
for col in num_cols:
    student_data[col] = student_data[col].fillna(student_data[col].mean())

# Fill categorical
for col in cat_cols:
    student_data[col] = student_data[col].fillna(student_data[col].mode()[0])

student_data.drop_duplicates(inplace=True)

print("After cleaning:")
print(student_data.isnull().sum())

After cleaning:
RollNo        0
Math          0
Science       0
English       0
Gender        0
Department    0
dtype: int64

In [6]:
titanic = pd.read_csv("Titanic-Dataset.csv")

print("Titanic Preview:")
display(titanic.head())

print("\nMissing BEFORE:")
print(titanic.isnull().sum())

Titanic Preview:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Missing BEFORE:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
num_cols_t = titanic.select_dtypes(include=['int64','float64']).columns
cat_cols_t = titanic.select_dtypes(include=['object']).columns

for col in num_cols_t:
    titanic[col] = titanic[col].fillna(titanic[col].mean())

for col in cat_cols_t:
    titanic[col] = titanic[col].fillna(titanic[col].mode()[0])

print("\nMissing AFTER:")
print(titanic.isnull().sum())

Missing AFTER:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64